<div class="page-header">
<h3>Teach for America Initiatives</h3>
</div>
<div>
<ul>
    <li><a href="https://www.teachforamerica.org/about-us/our-initiatives/diverse-learner-initiative">Diverse Learning Initiative</a></li>
    <li><a href="https://www.teachforamerica.org/about-us/our-initiatives/science-technology-engineering-and-math-stem-initiative">Stem Initiative</a></li>
</ul>
</div>